body{
    background-color: rgb(209, 215, 223);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 40px;
    color: rgb(36, 37, 39);
}

p{
    background-color: rgb(180, 196, 209);
}

h2{
    text-decoration: underline;
    color: rgb(67, 70, 75);
    font-size: 32px;
    background-color: rgb(113, 145, 156)
}

address{
    text-align: right;
    font-size: 16px;
    background-color: white;
    font-weight: 600;
}

strong{
    font-weight: 500;
    color: rgb(34, 145, 219);
}

em{
    font-weight: 600;
    font-style: normal;
    color: rgb(50, 122, 255);
}

h3{
    color: rgb(67, 70, 75);
    font-style: italic;
    background-color: rgb(113, 145, 156)
}